<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <h3 class="lead content-lead mb-4"><%= title %></h3>
  <ul class="list-group">
    <% if (user && user.role === "admin") {
    list.forEach((item) => { 
    %>
    <li class="list-group-item">
      <form method="POST" action="/lists/<%= item.id %>?_method=DELETE" class="frm-action">
        <button type="submit" class="btn btn-light btn-action">X</button>
      </form>
      <a href="/lists/<%= item.id %>/edit"><button class="btn btn-light btn-action">✏️</button></a>
      <a href="/lists/<%= item.id %>" class="index-list-item"><h5><%= item.name %></h5></a>
    </li>
    <% })} else { 
    list.filter((item) => item.user.id === user.id).forEach((item) => { %>
    <li class="list-group-item">
      <a href="/lists/<%= item.id %>/edit"><button class="btn btn-light btn-action">✏️</button></a>
      <a href="/lists/<%= item.id %>" class="index-list-item"><h5><%= item.name %></h5></a>
    </li>
    <% }) %>

    <% } %>
  </ul>
  <%- include('../partials/footer.ejs') %>