<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
<h3 class="lead content-lead"><%= title %></h3>
<ul>
<% list.forEach(item => { %>
<li>
<a href="/lists/<%= item.id %>"><%= item.name %></a>
<form method="POST" action="/lists/<%= item.id %>?_method=DELETE" class="frm-action">
<button type="submit" class="btn btn-light btn-action">X</button>
</form>
<a href="/lists/<%= item.id %>/edit"><button class="btn btn-light btn-action">✏️</button></a>
</li>
<% })%>
</ul>
<%- include('../partials/footer.ejs') %>