<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <% if (user) {%>
  <h3 class="lead content-lead"><%= title %></h3>
  <div class="form-group">
    <form method="POST" action="/books/<%= book.id %>?_method=PUT">
      <input type="hidden" value="<%= user.id %>" name="user" />
      <label for="book-name">Book Name</label>
      <input type="text" name="name" value="<%= book.name %>" class="form-control" />
      <label for="book-name">Book Author</label>
      <input type="text" name="author" value="<%= book.author %>" class="form-control" />
      <label for="book-image">Image URL</label>
      <input type="text" name="photo" value="<%= book.photo %>" class="form-control" />
      <label for="book-isbn">ISBN</label>
      <input type="text" name="isbn" class="form-control" />
      <label for="book-buy-link">Buy Link</label>
      <input type="text" name="buy" class="form-control" value="<%= book.buy %>" />
      <button type="submit" class="btn btn-primary">Update Book</button>
    </form>
  </div>
  <% } else {%>
  <p class="logged-out">You need to be logged in to edit this book.</p>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>