<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <div class="row book-list">
    <div class="col">
      <h3 class="lead content-lead mb-4"><%= title %></h3>
      <% if(books.length) {%>
      <div class="list-group">
        <% books.forEach((item) => {%>
        <a href="/books/<%= item.slug ? item.slug : item.id %>" class="list-group-item list-group-item-action book-list-item" aria-current="true">
          <div class="trending-item d-flex w-100 justify-content-between">
            <h5 class="trending-item mb-1"><%= item.name %></h5>
            <div class="action-buttons">
              <% if(user && user.role === "admin") {%>
              <div class="book-actions">
                <form action="/books/<%= item.id %>?_method=DELETE" method="POST" class="frm-action">
                  <button type="submit" class="btn btn-light btn-action">X</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <p class="mb-1">
          </p>
        </a>
        <% }) %>
      </div>
    </div>
    <% } else { %>
    <p>There are no books.</p>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>