<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <h3 class="lead content-lead"><%= title %></h3>
  <div class="form-group">
    <form>
      <input type="text" name="search" class="form-control" />
      <button type="submit" id="search" class="btn btn-primary">Search</button>
    </form>
    <div class="new-book">
      <form method="POST" action="/books">
        <input type="hidden" value="<%= user.id %>" name="user" />
        <label for="book-name">Book Name</label>
        <input type="text" name="name" class="form-control" />
        <label for="book-name">Book Author</label>
        <input type="text" name="author" class="form-control" />
        <label for="book-image">Image URL</label>
        <input type="text" name="photo" class="form-control" />
        <label for="book-image">ISBN</label>
        <input type="text" name="isbn" class="form-control" />
        <label for="book-buy-link">Buy Link</label>
        <input type="text" name="buy" class="form-control" />
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>