<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content book-content">
  <img src="<%= book.photo ? book.photo : "https://placehold.co/100x100" %>" class="book-img" />
  <h3 class="lead content-lead"><%= book.name %></h3>
  <h4 class="book-author"><%= book.author %></h4>
  <a href="/books" class="app-footer-link">

    < Back to Books</a>
      <%- include('../partials/footer.ejs') %>