<%- include('../partials/header-book.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content" vocab="https://schema.org/" typeof="Book">
  <div class="row">
    <% if(book.photo) { %>
    <div class="col-lg-3">
      <img src="<%= book.photo %>" class="img-list" property="image" />
    </div>
    <% } %>
    <div class="col-lg-8<%= book.photo ? ' ps-4' : '' %>">
      <h3 class="lead content-lead" property="name"><%= book.name %></h3>
      <h5 class="book-author" property="author"><%= book.author %></h5>
      <div class="entity-actions">
        <ul class="nav nav-pills books-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Share</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item share-x" href="#" data-link="<%= `${app.url}/books/${book.slug}` %>" data-text="<%= `See notes and reading lists containing ${book.name} by ${book.author} on Notes and Things` %>" data-media="<%= book.photo %>"><span class="fa-brands fa-x-twitter"></span> X</a></li>
              <li><a class="dropdown-item share-facebook" href="#" data-link="<%= `${app.url}/books/${book.slug}` %>" data-text="<%= `See notes and reading lists containing ${book.name} by ${book.author} on Notes and Things` %>" data-media="<%= book.photo %>"><span class="fab fa-facebook-square"></span> Facebook</a></li>
              <li><a class="dropdown-item share-pinterest" href="#" data-link="<%= `${app.url}/books/${book.slug}` %>" data-text="<%= `See notes and reading lists containing ${book.name} by ${book.author} on Notes and Things` %>" data-media="<%= book.photo %>"><span class="fab fa-pinterest-square"></span> Pinterest</a></li>
            </ul>
          </li>
          <% if(user) {%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Add to List</a>
            <ul class="dropdown-menu">
              <% allLists.filter((list) => list.user == user.id).forEach((list) => { %>
              <li><span class="dropdown-item add-to-list-action" href="#" data-booktitle="<%= book.name %>" data-list="<%= list.id %>" data-book="<%= book.id %>" data-slug="<%= book.slug %>"><%= list.name %></span></li>
              <% }); %>
            </ul>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/books/<%= book.id %>/notes/new"><span class="fas fa-plus"></span> Add a Note</a>
          </li>
          <% if(typeof book.buy !== "undefined") {%>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="<%= book.buy %>" target="_blank"><span class="fas fa-cart-shopping"></span> Buy</a>
          </li>
          <% } %>
          <% if(user && (book.user.toString() === user._id.toString() || user.role === "admin")) {%>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/books/<%= book.id %>/edit"><span class="fas fa-pencil"></span> Edit</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="row notes-list">
      <div class="col-md-12 align-middle">
        <% let noteVotes = {};
        vote.filter((item) => item.note.id).forEach((item) => {
            let id = item.note.id;
            if(!noteVotes[id]) noteVotes[id] = 0;
            noteVotes[id] += 1;
        });
       %>
        <% if(note.length || list.length) {%>
        <ul class="nav nav-pills nav-list">
          <li class="nav-item">
            <a class="nav-link text-white bg-black active books-nav-link" aria-current="page" id="notes-btn">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body books-nav-link" id="book-list-btn">Reading Lists</a>
          </li>
        </ul>
        <div class="list-group" id="notes-view">
          <% if(note.length) {
          note.forEach((item) => {%>
          <a href="/notes/<%= item.id %>" class="list-group-item list-group-item-action note-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= item.title %></h5>
              <div class="action-buttons">
                <form method="POST" action="/notes/<%= item.id %>/votes" class="frm-action">
                  <button type="submit" class="btn btn-light btn-action"><%= noteVotes[item.id] ? noteVotes[item.id] : 0 %><span class="fas fa-thumbs-up"></span></button>
                </form>
              </div>
            </div>
            <p class="mb-1"><%= item.content %></p>
            <p class="mb-1">
              <span class="badge rounded-pill text-bg-secondary note-author" data-author="<%= item.user.id %>"><%= item.user.name %></span>
              <% if(item.list) {%>
              <span class="badge rounded-pill text-bg-secondary note-list" data-list="<%= item.list.id %>"><%= item.list.name %></span>
              <% } %>
            </p>
          </a>
          <% }); %>
        </div>
        <%} else {%>
        <p>There are no notes added to this book.</p>
        <a href="/books/<%= book.id %>/notes/new"><button class="btn btn-sm btn-secondary">Add a Note</button></a>
        <% } %>
      </div>
      <div class="list-group" id="book-list-view">
        <% if(list.length) {
          list.forEach((item) => { %>
        <a href="/lists/<%= item.id %>" class="list-group-item list-group-item-action book-list-item" aria-current="true" href="/lists/<%= item.id %>">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= item.name %></h5>
          </div>
        </a>
        <% }) %>
      </div>
      <% } else { %>
      <p>This book is not added to any reading lists.</p>
      <% // todo: reusable add book to reading list button %>
      <a href="#"><button class="btn btn-primary btn-sm">Add to List</button></a>
      <% } %>
    </div>
    <% } else {%>
    <p>There are no notes added to this book and it isn't on any reading lists.</p>
    <% }%>
    <a href="<%= prev ? prev : "/books" %>" class="app-footer-link btn btn-secondary btn-sm"><span class="fas fa-caret-left"></span> Back <%= prev ? "" : "to Books" %></a>
  </div>
  <%- include('../partials/footer.ejs') %>