<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title ? `${title} - ` : `` %><%= app.title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a3303c17b7.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/css/styles.css' />
  <script defer src="/js/main.js" type="text/javascript"></script>
  <meta property="og:site_name" content="Notes and Things" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="Book" />
  <meta property="og:description" content="<%= title %> - A book on Notes and Things. Notes and Things enables people to share their reading activity with their communities and book clubs." />
  <meta property="og:image" content="<%= book.photo %>" />
  <meta property="og:url" content="<%= app.url %>/book/<%= book.slug %>" />
</head>

<body>
  <main class="container container-fluid">
    <a href="/" title="<%= app.title %>" class="title">
      <h1 class="title"><span class="fas fa-user-pen site-logo"></span><%= app.title %></h1>
    </a>
    <h2 class="tagline lead">Lists of books and notes to share with your community</h2>