<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="content">
  <div class="row book-list">
    <div class="col">
      <h3 class="lead content-lead mb-4">Book Catalog</h3>
      <% if(books.length) { %>
      <div class="list-group">
        <% books.forEach((item) => { %>
        <a class="list-group-item list-group-item-action book-list-item" aria-current="true">
          <div class="trending-item d-flex w-100 justify-content-between">
            <h5 data-slug="<%= item.slug %>" class="trending-item item-title mb-1 book-action"><%= item.name %></h5>
            <div class="action-buttons">
              <% if (user) { %>
              <div class="btn-group add-to-list">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="fas fa-list"></span> Add to List
                </button>
                <ul class="dropdown-menu">
                  <% lists.forEach((list) => { %>
                  <% if(list.user.id == user.id) {%>
                    <span class="dropdown-item add-to-list-action" href="#" data-booktitle="<%= item.name %>" data-list="<%= list.id %>" data-book="<%= item.id %>" data-slug="<%= item.slug %>"><%= `${list.name}'s Reading List` === user.name ? `Your Reading List` : list.name %></span>
                  <% }}); %>
                </ul>
              </div>
              <% }; %>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="fas fa-share-nodes"></span> Share
                </button>
                <ul class="dropdown-menu">
                  <span class="dropdown-item share-x" data-link="<%= `${app.url}/books/${item.slug}` %>" data-text="<%= `See notes and reading lists containing ${item.name} by ${item.author} on Notes and Things` %>" data-media="<%= item.photo %>"><span class="fa-brands fa-x-twitter"></span> X</span>
                  <span class="dropdown-item share-facebook" data-link="<%= `${app.url}/books/${item.slug}` %>" data-text="<%= `See notes and reading lists containing ${item.name} by ${item.author} on Notes and Things` %>" data-media="<%= item.photo %>"><span class="fab fa-facebook-square"></span> Facebook</span>
                  <span class="dropdown-item share-pinterest" data-link="<%= `${app.url}/books/${item.slug}` %>" data-text="<%= `See notes and reading lists containing ${item.name} by ${item.author} on Notes and Things` %>" data-media="<%= item.photo %>"><span class="fab fa-pinterest-square"></span> Pinterest</span>
                </ul>
              </div>
              <button class="btn btn-secondary btn-sm notes-action" data-book="<%= item.id %>" data-slug="<%= item.slug %>"><span class="fas fa-note-sticky"></span> Notes</button>
            </div>
          </div>
          <p class="mb-1 book-author"><%= item.author %></p>
          <p class="mb-1">
            <% if(booklists[item.id]) { %><span class="badge rounded-pill text-bg-secondary">In <%= booklists[item.id] ? booklists[item.id] : 0 %> List<%= booklists[item.id] > 1 ? "s" : "" %> </span><% } %>
            <% if(booknotes[item.id]) { %><span class="badge rounded-pill text-bg-secondary">In <%= booknotes[item.id] ? booknotes[item.id] : 0 %> Note<%= booknotes[item.id] > 1 ? "s" : "" %></span><% } %>
          </p>
        </a>
        <% }) %>
      </div>
    </div>
    <% } else { %>
    <p>There are no trending books.</p>
    <% } %>
  </div>
</div>
<%- include('./partials/footer.ejs') %>