<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <div class="row note-list">
    <div class="col">
      <h3 class="lead content-lead mb-4"><%= title %></h3>
      <% if(note.length) { %>
      <ul class="list-group">
        <% note.forEach((item) => { %>
        <% if(user && (user.role === "admin" || user.id === item.user.id)) { %>
        <li class="list-group-item">
          <form method="POST" action="/notes/<%= item.id %>?_method=DELETE" class="frm-action">
            <button type="submit" class="btn btn-light btn-action">X</button>
          </form>
          <a href="/notes/<%= item.id %>" class="index-list-item">
            <h5><%= item.title %></h5>
          </a>
          <p class="mb-1"><%= item.content %></p>
          <p class="mb-1">
            <a href="/profile/<%= item.user.id %>" title="<%= item.user.name %>"><span class="badge rounded-pill text-bg-secondary note-author" data-author="<%= item.user.id %>"><%= item.user.name %></span></a>
            <% if(item.list) {%>
              <a href="/lists/<%= item.list.id %>" title="<%= item.list.name %>"><span class="badge rounded-pill text-bg-secondary note-list" data-list="<%= item.list.id %>">List: <%= item.list.name %></span></a>
            <% } %>
              <a href="/books/<%= item.book.id %>" title="<%= item.book.name %>"><span class="badge rounded-pill text-bg-secondary note-content" data-book="<%= item.book.id %>">Book: <%= item.book.name %></span></a>
          </p>
        </li>
        <% } else if (user && user.role === "member" && item.user.id === user.id) {%>
        <li class="list-group-item">
        <% if(user && (user.role === "admin" || item.user.id === user.id)) { %>
          <form method="POST" action="/notes/<%= item.id %>?_method=DELETE" class="frm-action">
            <button type="submit" class="btn btn-light btn-action">X</button>
          </form>
          <% } %>
          <a href="/notes/<%= item.id %>" class="index-list-item">
            <h5><%= item.title %></h5>
          </a>
          <p class="mb-1"><%= item.content %></p>
          <p class="mb-1">
            <a href="/profile/<%= item.user.id %>" title="<%= item.user.name %>"><span class="badge rounded-pill text-bg-secondary note-author" data-author="<%= item.user.id %>"><%= item.user.name %></span></a>
            <% if(item.list) {%>
              <a href="/lists/<%= item.list.id %>" title="<%= item.list.name %>"><span class="badge rounded-pill text-bg-secondary note-list" data-list="<%= item.list.id %>">List: <%= item.list.name %></span></a>
            <% } %>
              <a href="/books/<%= item.book.id %>" title="<%= item.book.name %>"><span class="badge rounded-pill text-bg-secondary note-content" data-book="<%= item.book.id %>">Book: <%= item.book.name %></span></a>
          </p>
        </li>
        <% } %>
        <% })%>
      </ul>
      <% } else { %>
      <p>There are no notes<%= type === `user` ? ` from this user` : type === `list` ? ` on this list` : `` %>.</p>
      <% } %>
    </div>
  </div>
  <a href="<%= type === `user` ? `/profile/${userData.id}` : `/` %>" class="app-footer-link btn btn-secondary btn-sm"><span class="fas fa-caret-left"></span> Back</a>
</div>
<%- include('../partials/footer.ejs') %>