<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
<h3 class="lead content-lead"><%= title %></h3>
<ul>
<% note.forEach((item) => { %>
<li>
<a href="/notes/<%= item.id %>"><%= item.title %></a>
<form method="POST" action="/notes/<%= item.id %>?_method=DELETE" class="frm-action">
<button type="submit" class="btn btn-light btn-action">X</button>
</form>
</li>
<% })%>
</ul>
<%- include('../partials/footer.ejs') %>