<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <h3 class="lead content-lead"><%= title %></h3>
  <p>Add a note to <%= book.name %> <span class="book-author inline-author"><%= book.author %></span></p>
  <div class="form-group">
    <div class="new-note">
      <form method="POST" action="/notes" class="">
        <input type="hidden" value="<%= user.id %>" name="user" />
        <input type="hidden" value="<%= book.id %>" name="book" />
        <% if (list) {%>
        <input type="hidden" value="<%= list %>" name="list" />
        <% } %>
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" />
        <label for="content">Content</label>
        <textarea name="content" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary">Add a Note</button>
      </form>
    </div>
  </div>
  <a href="<%= prev %>" class="app-footer-link btn btn-secondary btn-sm"><span class="fas fa-caret-left"></span> Back to <%= list ? `List` : book.name  %></a>
</div>
<%- include('../partials/footer.ejs') %>