<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container container-fluid content">
  <div class="row">
    <div class="col pe-5 mt-4">
      <div class="card">
        <div class="card-header">
          <h3><%= noteData.title %></h3>
          <span class="note-author"><%= noteData.user.name %></span>
          <div class="entity-actions">
            <ul class="nav nav-pills books-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Share</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item share-x" href="#" data-link="<%= `${app.url}/notes/${noteData.id}` %>" data-text="<%= `See ${noteData.user.name}'s' note on ${noteData.book.name} by ${noteData.book.author}` %>" data-media="<%= noteData.book.photo %>"><span class="fa-brands fa-x-twitter"></span> X</a></li>
                  <li><a class="dropdown-item share-facebook" href="#" data-link="<%= `${app.url}/notes/${noteData.id}` %>" data-text="<%= `See ${noteData.user.name}'s' note on ${noteData.book.name} by ${noteData.book.author}` %>" data-media="<%= noteData.book.photo %>"><span class="fab fa-facebook-square"></span> Facebook</a></li>
                  <li><a class="dropdown-item share-pinterest" href="#" data-link="<%= `${app.url}/notes/${noteData.id}` %>" data-text="<%= `See ${noteData.user.name}'s' note on ${noteData.book.name} by ${noteData.book.author}` %>" data-media="<%= noteData.book.photo %>"><span class="fab fa-pinterest-square"></span> Pinterest</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= noteData.content %></p>
        </div>
      </div>
    </div>
  </div>
  <a href="/books/<%= noteData.book.slug %>" title="<%= noteData.book.name %>" class="app-footer-link btn btn-secondary btn-sm"><span class="fas fa-caret-left"></span> Back to <%= noteData.book.name %></a>
</div>
<%- include('../partials/footer.ejs') %>