<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container container-fluid content">
  <div class="row">
    <div class="col">
      <h3 class="lead content-lead"><%= noteData.title %></h3>
      <p><%= noteData.content %></p>
    </div>
  </div>
  <a href="/notes" class="app-footer-link btn btn-secondary btn-sm"><span class="fas fa-caret-left"></span> Back to Notes</a>
  <%- include('../partials/footer.ejs') %>