<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<% let bookVotes={}, notes={}, currentRead=0;
    vote.forEach((vote) => {
      let id = vote.book.id;
      if (!bookVotes[id]) bookVotes[id] = 0;
        bookVotes[id] += 1;
    });
    note.forEach((item) => {
      let id = item.book.id;
      if (!notes[id]) notes[id] = 0;
      notes[item.book.id] += 1;
    });
%>
<% let mappedList = list.books.map((item) => item.id)
  if (list.books.length) {
    list.booksRead.forEach((item) => {
      if (typeof userData.reading != "undefined") {
        currentRead = item.id === userData.reading.id ? 1 : 0
      }
      let idx = mappedList.indexOf(item.id);
        if(idx !== -1) {
          mappedList.splice(idx,1);
          list.books.splice(idx,1);
        }
    });
    if (typeof userData.reading != "undefined") {
      let idx = mappedList.indexOf(userData.reading.id);
      if(idx !== -1) {
        mappedList.splice(idx,1);
        list.books.splice(idx,1);
      }
    }
%>

<div class="content">
  <div class="row align-items-center">
    <% if(userData.photo) { %>
    <div class="col-md-2">
      <img src="<%= userData.photo %>" class="profile-photo" />
    </div>
    <% } %>
    <div class="col<%= userData.photo ? ' ps-4' : '' %>">
      <h3 class="lead content-lead"><%= userData.name %></h3>
      <div class="entity-actions">
        <ul class="nav nav-pills user-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Share</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item share-x" href="#" data-link="<%= `${app.url}/profile/${userData.id}` %>" data-text="<%= `See ${userData.name}'s Reading List on Notes and Things` %>" data-media="<%= userData.photo %>"><span class="fa-brands fa-x-twitter"></span> X</a></li>
              <li><a class="dropdown-item share-facebook" href="#" data-link="<%= `${app.url}/profile/${userData.id}` %>" data-text="<%= `See ${userData.name}'s Reading List on Notes and Things` %>" data-media="<%= userData.photo %>"><span class="fab fa-facebook-square"></span> Facebook</a></li>
              <li><a class="dropdown-item share-pinterest" href="#" data-link="<%= `${app.url}/profile/${userData.id}` %>" data-text="<%= `See ${userData.name}'s Reading List on Notes and Things` %>" data-media="<%= userData.photo %>"><span class="fab fa-pinterest-square"></span> Pinterest</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/users/<%= userData.id %>/notes"><span class="fas fa-note-sticky"></span> Notes</a>
          </li>
          <% if(user && user.id === userData.id) { %>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/users/<%= userData.id %>/edit"><span class="fas fa-pencil"></span> Edit</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% if(userData.reading && !currentRead) { %>
    <div class="col-sm-6">
      <h5 class="pt-4 currently-reading">Currently Reading</h5>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="<%= userData.reading.photo %>" class="img-fluid rounded-start" />
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title"><a href="/books/<%= userData.reading.slug %>" title="<%= userData.reading.name %>" class="card-title"><%= userData.reading.name %></a></h5>
              <p class="card-text">
                <small class="text-body-secondary book-author"><%= userData.reading.author %></small>
                <% if(user && list.user.id === user.id) { %>
              <form action="/lists/<%= list.id %>?_method=PUT" method="POST" class="list-book-action">
                <input name="booksRead" type="hidden" value="<%= userData.reading.id %>" />
                <button type="submit" class="btn btn-light btn-sm"><span class="fas fa-book"></span> Mark as Read</button>
              </form>
              <% } %>
              <% if(bookVotes[userData.reading.id]) { %><div>
                <p class="mt-4 fw-bold badge text-bg-secondary"><%= bookVotes[userData.reading.id] %></p> <span class="fas fa-thumbs-up"></span>
              </div><% } %>
              </p>
            </div>
          </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Reading Progress" aria-valuenow="<%= userData.readingProgress %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: <%= `${userData.readingProgress}%` %>"></div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="row book-list">
      <div class="col-lg-12">
        <ul class="nav nav-pills nav-list user-nav-link">
          <li class="nav-item">
            <a class="nav-link text-white bg-black active" aria-current="page" id="to-read-books-btn">To Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" id="read-books-btn">Read</a>
          </li>
        </ul>
        <div class="list-group" id="to-read-books-view">
          <% list.books.forEach((item) => {%>
          <a href="/books/<%= item.slug %>" class="list-group-item list-group-item-action book-list-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="item-title mb-1"><%= item.name %></h5>
              <div class="action-buttons">
                <% if(user) {
              %>
                <form method="POST" action="/books/<%= item.id %>/votes" class="frm-action">
                  <input type="hidden" name="user" value=<%= user.id %> />
                  <input type="hidden" name="list" value=<%= list.id %> />
                  <button type="submit" class="btn btn-light btn-action"><%= bookVotes[item.id] ? bookVotes[item.id] : 0 %><span class="fas fa-thumbs-up"></span></button>
                </form>
                <form action="/books/<%= item.id %>/notes/new" method="GET" class="frm-action">
                  <input name="list" type="hidden" value="<%= list.id %>" />
                  <button type="submit" class="btn btn-light btn-action"><%= notes[item.id] ? notes[item.id] : 0 %><span class="fa-solid fa-note-sticky"></span></button>
                </form>
                <% } %>
              </div>
            </div>
            <p class="mb-1 book-author"><%= item.author %></p>
            <p class="mb-1">
              <% if(user && list.user.id === user.id) {%>
              <form action="/users/<%= user.id %>?_method=PUT" method="POST" class="list-book-action">
                <input name="reading" type="hidden" value="<%= item.id %>" />
                <input name="readingProgress" type="hidden" value=0 />
                <button type="submit" class="btn btn-light btn-sm"><span class="fas fa-book-open-reader"></span> Start Reading</button>
              </form>
              <form action="/lists/<%= list.id %>?_method=PUT" method="POST" class="list-book-action">
                <input name="booksRead" type="hidden" value="<%= item.id %>" />
                <button type="submit" class="btn btn-light btn-sm"><span class="fas fa-book"></span> Mark as Read</button>
              </form>
              <form action="/lists/<%= list.id %>/book?_method=DELETE" method="POST" class="list-book-action">
                <input name="book" type="hidden" value="<%= item.id %>" />
                <button type="submit" class="btn btn-light btn-sm"><span class="fas fa-trash-can"></span> Remove</button>
              </form>
              <% } %>
            </p>
          </a>
          <% }) %>
          <% } else { %>
          <div class="card">
            <div class="card-body">
              There are no books on this profile.
              <a href="/"><button class="btn btn-sm btn-secondary">Add Books</button></a>
            </div>
          </div>
          <% } %>
        </div>
        <div class="list-group" id="read-books-view">
          <% if (list.booksRead.length) {%>
          <% list.booksRead.forEach((item) => {%>
          <a href="/books/<%= item.slug %>" class="list-group-item list-group-item-action book-list-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="item-title mb-1"><%= item.name %></h5>
              <div class="action-buttons">
                <% if(user) {
              %>
                <form method="POST" action="/books/<%= item.id %>/votes" class="frm-action">
                  <input type="hidden" name="user" value=<%= user.id %> />
                  <input type="hidden" name="list" value=<%= list.id %> />
                  <button type="submit" class="btn btn-light btn-action"><%= bookVotes[item.id] ? bookVotes[item.id] : 0 %><span class="fas fa-star"></span></button>
                </form>
                <form action="/books/<%= item.id %>/notes/new" method="GET" class="frm-action">
                  <input name="list" type="hidden" value="<%= list.id %>" />
                  <button type="submit" class="btn btn-light btn-action"><%= notes[item.id] ? notes[item.id] : 0 %><span class="fa-solid fa-note-sticky"></span></button>
                </form>
                <% } %>
              </div>
            </div>
            <p class="mb-1 book-author"><%= item.author %></p>
            <p class="mb-1">
              <% if(user && list.user.id === user.id) {%>
              <form action="/lists/<%= list.id %>?_method=PUT" method="POST">
                <input name="booksRead" type="hidden" value="<%= item.id %>" />
                <button type="submit" class="btn btn-light btn-sm"><span class="fas fa-book-open-reader"></span> Mark as Unread</button>
              </form>
              <% } %>
            </p>
          </a>
          <% }) %>
          <% } else { %>
          <p class="no-items">There are no read books on this reading list.</p>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>