<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <div class="row align-items-center">
    <% if(userData.photo) { %>
    <div class="col-md-2">
      <img src="<%= userData.photo %>" class="img-list" />
    </div>
    <% } %>
    <div class="col<%= userData.photo ? ' ps-4' : '' %>">
      <h3 class="lead content-lead"><%= userData.name %></h3>
      <div class="entity-actions">
        <ul class="nav nav-pills user-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Share</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><span class="fa-brands fa-x-twitter"></span> X</a></li>
              <li><a class="dropdown-item" href="#"><span class="fab fa-facebook-square"></span> Facebook</a></li>
              <li><a class="dropdown-item" href="#"><span class="fab fa-pinterest-square"></span> Pinterest</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/notes"><span class="fas fa-note-sticky"></span> Notes</a>
          </li>
          <% if(user && user.id === userData.id) { %>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/users/<%= userData.id %>/edit"><span class="fas fa-pencil"></span> Edit</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <h5 class="pt-4 currently-reading">Currently Reading</h5>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="<%= userData.reading.photo %>" class="img-fluid rounded-start" />
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title"><%= userData.reading.name %></h5>
              <p class="card-text"><small class="text-body-secondary book-author"><%= userData.reading.author %></small></p>
            </div>
          </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Reading Progress" aria-valuenow="<%= userData.readingProgress %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: <%= `${userData.readingProgress}%` %>"></div>
        </div>
      </div>
    </div>
    <div class="row book-list">
      <div class="col-lg-12">
        <% if (list.books.length) {%>
        <ul class="nav nav-pills nav-list">
          <li class="nav-item">
            <a class="nav-link text-white bg-black active" aria-current="page" href="#">To Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" href="#">Recently Read</a>
          </li>
        </ul>
        <div class="list-group">
          <% let bookVotes={}, notes={};
           vote.forEach((vote) => {
              let id = vote.book.id;
              if (!bookVotes[id]) bookVotes[id] = 0;
              bookVotes[id] += 1;
            });
            note.forEach((item) => {
              if (!notes[item.book.id]) notes[item.book.id] = 0;
              notes[item.book.id] += 1;
            });
        %>
          <% list.books.forEach((item) => {%>
          <a href="/books/<%= item.slug %>" class="list-group-item list-group-item-action book-list-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="item-title mb-1"><%= item.name %></h5>
              <div class="action-buttons">
                <% if(user) {
              %>
                <form method="POST" action="/books/<%= item.id %>/votes" class="frm-action">
                  <input type="hidden" name="user" value=<%= user.id %> />
                  <input type="hidden" name="list" value=<%= list.id %> />
                  <button type="submit" class="btn btn-light btn-action"><%= bookVotes[item.id] ? bookVotes[item.id] : 0 %><span class="fas fa-star"></span></button>
                </form>
                <form action="/books/<%= item.id %>/notes/new" method="GET" class="frm-action">
                  <input name="list" type="hidden" value="<%= list.id %>" />
                  <button type="submit" class="btn btn-light btn-action"><%= notes[item.id] ? notes[item.id] : 0 %><span class="fa-solid fa-note-sticky"></span></button>
                </form>
                <% } %>
              </div>
            </div>
            <p class="mb-1 book-author"><%= item.author %></p>
            <p class="mb-1"></p>
          </a>
          <% }) %>
        </div>
      </div>
      <% } else { %>
      <p>There are no books in this list.</p>
      <a href="/lists/<%= list.id %>/edit"><button class="btn btn-primary">Add Books</button></a>
      <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>