<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="content">
  <div class="row">
    <% if(userData.photo) { %>
    <div class="col-md-2">
      <img src="<%= userData.photo %>" class="img-list" />
    </div>
    <% } %>
    <div class="col<%= userData.photo ? ' ps-4' : '' %>">
      <h3 class="lead content-lead"><%= userData.name %></h3>
      <div class="entity-actions">
        <ul class="nav nav-pills user-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-body" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span class="fas fa-share-nodes"></span> Share</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><span class="fa-brands fa-x-twitter"></span> X</a></li>
              <li><a class="dropdown-item" href="#"><span class="fab fa-facebook-square"></span> Facebook</a></li>
              <li><a class="dropdown-item" href="#"><span class="fab fa-pinterest-square"></span> Pinterest</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/notes"><span class="fas fa-note-sticky"></span> Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-body" aria-current="page" href="/users/<%= userData.id %>/edit"><span class="fas fa-pencil"></span> Edit</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <h5 class="pt-4 currently-reading">Currently Reading</h5>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="<%= userData.reading.photo %>" class="img-fluid rounded-start" />
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title"><%= userData.reading.name %></h5>
              <p class="card-text"><small class="text-body-secondary book-author"><%= userData.reading.author %></small></p>
            </div>
          </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Reading Progress" aria-valuenow="<%= userData.readingProgress %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: <%= `${userData.readingProgress}%` %>"></div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>